@use "./variables" as *;

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin heading-xl {
  font-family: $font-heading;
  font-size: $font-4xl;
  font-weight: $font-extrabold;
  line-height: $line-height-tight;
  letter-spacing: $letter-spacing-tight;
  
  @include desktop {
    font-size: $font-4xl;
    line-height: $line-height-relaxed;
  }
}

@mixin body-md {
  font-family: $font-body;
  font-size: $font-md;
  font-weight: $font-regular;
  line-height: $line-height-normal;
}