// Colors
$color-primary: #33F987;

$color-bg-dark: #032019;
$color-bg-light: #E9EDF0;
$color-bg-muted: #FFFFFF40;

$color-white: #ffffff;
$color-black: #000000;

$color-text-primary: #161616;
$color-text-light: #ffffff;
$color-text-muted: #EFEFEF;

$color-bg-navbar: #425853;

// Container
$container-max-width: 1440px;

$container-padding-mobile: 10px;
$container-padding-tablet: 20px;
$container-padding-desktop: 20px;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Border radius
$radius-sm: 5px;
$radius-md: 15px;
$radius-lg: 25px;

// Section spacing
$section-spacing-mobile: 48px;
$section-spacing-desktop: 80px;

// Transition
$transition-default: 0.2s ease;

// FONTS
$font-heading: "Bricolage Grotesque Variable", sans-serif;
$font-body: "Manrope Variable", sans-serif;